<% provide(:title, "Edit User") %>

<div class ="jumbotron", id="merchant-tron">
  <div class="container">

    <% if @user == current_user %>
      <h3>Edit My Account </h3>
    <% else %>
      <h3>Edit User</h3>
    <% end %>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <% if @user == current_user %>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>

      <% if current_user.admin? %>
        <%= f.label :admin, "Admin User?" %>
        <%= f.check_box :admin %>
      <% end %>
      <p></p>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="footer-links">
  <%= link_to users_path do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Return to User Admin
  <% end %>
</div>



