<% provide(:title, 'All users') %>
<div class = "jumbotron">
  <div class="container">
    <h3>User Admin</h3>    
    <%= will_paginate %>
    <table class="table">
      <thead>
        <td class="merchant-name">User Name</td>
        <td class="merchant-action">Admin?</td>
        <td class="merchant-action">Action</td>
      </thead>
       <tbody>
        <tr>
          
        <% @users.each do |user| %>
          <tr>
            <td class="merchant-name">
              <%= link_to user.name, user_path(user) %>
            </td>
            <td class="merchant-action">
              <% if user.admin? %>
                Yes
              <% else %>
                No
              <% end %>
            </td>
            <td class="merchant-action">
              <%= link_to 'Edit', edit_user_path(user) %>
            </td>
            <td class="merchant-action">
              <%= link_to 'Delete', user, method: :delete, 
                                          data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div> <!--container-->
</div> <!--jumbotron -->


<div class="footer-links">
<%= link_to new_user_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add User
<% end %>
</div>
