<% provide(:title, 'New User') %>

<div class ="jumbotron">
	<div class="container">
		<h3>Create a New User</h3>
	  <%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>
		    	
	    <%= f.label :name %>
	    <%= f.text_field :name %>

	    <%= f.label :email %>
	    <%= f.email_field :email %>

	    <%= f.label :password %>
	    <%= f.password_field :password %>

	    <%= f.label :password_confirmation, "Confirmation" %>
	    <%= f.password_field :password_confirmation %>

	    <%= f.submit "Create user account", class: "btn btn-primary" %>
  	<% end %>
	</div>
</div>

<div class="footer-links">
  <%= link_to users_path do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Return to User Admin
  <% end %>
</div>