
<%= form_for @merchant do |f| %>
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h4>
      <ul>
      <% @merchant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %> 
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
  </div>

<% end %>
