<div class ="jumbotron">
  <p id="notice"><%= notice %></p>

  <h3>Merchant Admin</h3>

    <table class="merchant-table">
    <thead>
      <td class="merchant-name">Merchant Name</td>
      <td class="merchant-action">Action</td>
    </thead>

    <tbody>
      <% @merchants.each do |merchant| %>
        <tr>
          <td class="merchant-name"><%= link_to "#{merchant.name}", merchant %></td>
<!--           <td><div><span class="input-group-btn">
            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-pencil"></i>
            </button>
          </span>Edie</div></td>
          <td><div><span class="input-group-btn">
            <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i>
            </button>
          </span></div></td> -->
          <td class = "merchant-action"><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
          <td class = "merchant-action"><%= link_to 'Delete', merchant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

</div>

<div class="footer-links">
<%= link_to new_merchant_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add Merchant
<% end %>
</div>


